* {
	text-decoration: none;
	font-family: sans-serif;
	list-style: none;
}

a {
	color: grey;
}

a:hover {
	color: pink;
}

ul, li {
	margin: 0;
	padding: 0;
}

#mainNav {
	position: relative;
	width: 75%;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
}

#eatNav, #makeNav, #playNav, #codeNav {
	display: none;
	position: absolute;
	background: pink;
	padding: 1%;
}

#eatNav>a, #makeNav>a, #playNav>a, #codeNav>a {
	color: black;
}

#eatNav>a:hover, #makeNav>a:hover, #playNav>a:hover, #codeNav>a:hover {
	color: grey;
}

header {
	color: black;
	width: 100%;
	display: flex;
	justify-content: center;
}

#posts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.newPosts {
	width: 40%;
	border: solid 1px black;
	margin: 1%;
	padding: 1%;
}